
#sumate img{
    width: 50%;
}

@media (max-width: 576px){
    #sumate img{
        margin-top:1.5em;
        width: 60%;
    }    
}

#sumate.container{ 
    margin: 27vh 0 3em 0;
   
}
#sumate span{
    color:  #9d0315;
}
#sumate p{
    
    font-size: 1.1em;
}
#sumate h4{
   text-align: center;
    font-size: 1.5em;
}
#sumate .row:nth-child(3){
    margin-top:7vh;
}
#sumate .row:nth-child(2){
    margin-top:5vh;
}
.center {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 50%;
  }
 