
#sumate img{
    width: 40%;
}
#sumate .img{
    text-align: center;
}
@media (max-width: 576px){
    #sumate img{
        margin-top:1.5em;
        width: 55%;
    }    
}
#sumate h6{
    color:#039D8B;
   
    font-size: 2em;
}
@media (max-width: 576px){
    #sumate h6{
        font-size: .9em;
    }
}
#sumate.container{
    margin: 27vh 0 3em 0;
   
}
#sumate .row:first-child{
    margin-bottom:5em;
}
#sumate ul li{
    font-size: 1.3em;
}
@media (max-width: 576px){
    #sumate ul li{
        font-size: .5em;
    }
}
#sumate .btn-help{
    border-radius: 25px;
    border:solid 4px #039D8B;
    color: #039D8B;
    width: 30%;
    font-size: 1.3em;
    font-weight: bolder;
}
@media (max-width: 576px){
    #sumate .btn-help{
        width: 70%;
        font-size: .9em;
    }
}

/* #sumate, .container-donate{
    flex-direction: column;
    justify-content: center;
    text-align: center;
}


.icon-donate{
    width: 40%;
    padding-top: 8%;
    padding-bottom: 5%;
    margin-right:20%;
}
#sumate .btn-help{
    border-radius: 25px;
    border:solid 4px #039D8B;
    color: #039D8B;
    width: 30%;
    font-size: 1.3em;
    font-weight: bolder;
    margin-right: 5%;
    margin-left: 12%;
    margin-bottom: 5%;
} */