#transparency{
    margin-top: 25vh;
    text-align: center;
    

}

@media (max-width: 576px){
    #transparency h2{
        
        font-size: 1.3em;
    }
}

#transparency .icons{
    width: 15%;
    padding: 2%;
}
#transparency .arrow{
    width: 8%;
    padding: 2%;
}
@media (max-width: 576px){
    #transparency .icons .arrow{
        width: 30%;
    }
}
#transparency .container-trans-bottom{
    margin-top:5%;
    margin-bottom:3%;
}