
/*Css de Mision */
#mision #title-mision, #values{
    color: #039D8B;
    margin-bottom: 4%;
}


#mision #title-mision{
    margin-top:27vh;
}


#mision .initials{
   color: #9d0315;
   font-size:50px;
   
}
#mision #explanation, .rest-txt, .values{
    color: #5e5d5d;
}

.points{
    margin-right:5%;
    margin-bottom: 5%;
    margin-top:5%;
}
#mision #focus{
    margin-top:-3%;
    margin-left:2%;
}
#mision li .list{   
    margin-top: 3%;
    margin-right: 5%;
    color: #9d0315;
}


@media (max-width: 576px){
    #mision #title-mision{
        margin-top:20vh;
    }
}


/*css de Team*/
#us{
    margin-top:27vh;
}
#us #our-team, #directory{
    color:#039D8B;
    display: flex;
    flex-direction: column;
    align-items: center;
}
#us #directory,.names{
    color: #5e5d5d;
}
.photo-team{
    width: 30%;
    margin-left: 35%;
}
#us .names, .ocupation{
   text-align: center;
}
#us .ocupation{
    color:#9d0315;
}
#us .member{
    margin-bottom: 5%;
}


@media (max-width: 576px){

  #us{
      margin-top:20vh;
  }
  #directory{
      margin-bottom:8vh;
  }
}

