/* Style inputs with type="text", select elements and textareas */
input[type=text],input[type=email],textarea {
    width: 100%; /* Full width */
    padding: .5em; /* Some padding */  
    border: 1px solid #ccc; /* Gray border */
    border-radius: 4px; /* Rounded borders */
    box-sizing: border-box; /* Make sure that padding and width stays in place */
  
    margin-bottom: 1em; /* Bottom margin */
    resize: vertical /* Allow the user to vertically resize the textarea (not horizontally) */
  }
  
  /* Style the submit button with a specific background color etc */
  input[type=submit] {
    background: white;
    color: #039D8B;
    padding: .4em 1.6em;
    border: none;
    border-radius: 25px;
    border: 4px solid  #039D8B;
    cursor: pointer;
    font-weight: bolder;
  }
  @media (max-width: 576px) {
    input[type=submit] {
      padding: .2em .8em;
    }
   
  }
  /* When moving the mouse over the submit button, add a darker green color */
  input[type=submit]:hover {
    background-color:white ;
  }
  form{
      font-family: 'Source Sans Pro', sans-serif;
      margin: 1em;
      background: #eaebea;
      width: 50%;
      padding: 1em;
      border-radius: 4px;
    
  }
  @media (max-width: 576px) {
    form{
        margin: 1em;
        border-radius: 4px;
        padding: 1em;
       
        width: 95%;
      
    }
  }
label{
    color:#039D8B;
    font-weight: bolder;
}
form h4{
    color:#039D8B;
    text-align: center;
}
