#news .card{
    color:rgb(78, 78, 78);
    align-items:center;
    border-style: none;
    font-weight: bold;
    margin-top:5% ;
    font-size:18px;
  
}
#news .btn-more{
    color: #039D8B;
    background: transparent; 
    align-items: left;
}
#news img{
    height: 45%;
    width:90%;
}

#news .img-news{
    padding: 0;
}
#news .img-news img{
    height: 200px;
    width: 100%;
}

#news .card-text{
    margin-top:3%;
    margin-bottom:10%;
    text-decoration: none;
}

#news h5{
    margin-top:90px;
    color: #039D8B;
    font-size:22px;
    font-weight: bold;
}