.card{
    color:rgb(63, 65, 65);
    align-items:center;
    border-style: none;
    font-weight: bold;
}
.card-group{
    margin-top:3%;
}
  @media (max-width: 576px){
  .card-group{
    margin-top:3%;
   }
}
.btn-more{
    color: #039D8B;
    background: transparent; 
    align-items: left;
}
img{
    height: 200px;
}
