
@media(max-width:576px){
    
}
#news .card{
    width: 100%;
    height: 100%;
}
#news .btn-more{
    color: #039D8B;
    background: transparent; 
    align-items: left;
   
}
#news .card-img-top{
    width: 100%;
    height: 200px;
}
#news .img-news{
    padding: 0;

}
#news .card-body{
   
    width: 100%;
    padding: 10%;
}
#news .card-date{
    margin-left: 55%;
}
@media(max-width:576px){
    #news .card-date{
        margin-left:45%;
    }
}
@media(min-width:576px) and (max-width:768px){
    #news .card-date{
        margin-left:25%;
    }
}
#news .card-text{
    color:rgba(75, 71, 71, 0.699);
    text-decoration: none;
    
}
#news .card-title h3{
    color:#039D8B;
}
#news .card-button{
    margin-bottom: 10px;
}





