.footer{
 background: #039D8B;
}
.footer p{
    color:#eaebea;
}
.footer button{
    margin-top: 1em;
    background: #039D8B;
    border:4px solid white;
    border-radius:25px;
    padding: .5em 1.5em;

}
.footer a{
    text-decoration: none;
    color:white;
    font-weight: bolder;
   
}

.copyright{
    padding-bottom: .5em;
}
.footer-icons{
    padding-top: .5em;
}
.icon-footer{
    width:3%;
    margin-left:1%;
    padding-top:1%;
    padding-bottom: 1%
}
@media (max-width: 576px){
    .icon-footer{
    width:8%;
    margin-left:3%;
    padding-top:2%;
    padding-bottom:2% 
    }
}
