.footer{
 background: #039D8B;
}
.footer button{
    display: inline;  
    background: #039D8B;
    border:3px solid white;
    border-radius:25px;
    padding: 0 .7em .2em .7em;
    margin-right: 1em;

}

.footer a img{
    width: 3%;
}
@media (max-width: 576px) {
    .footer a img{
        width: 9%;
    } 
}
.footer a:nth-child(1), a:nth-child(2), a:nth-child(3), a:nth-child(4){
    margin-right: 1em;
    width: 36px;
    height: 36px;
    text-decoration: none;
    color:white;
    font-weight: bolder;
}

.footer .row{
    align-items: center;
    padding-top:1em;
    padding-bottom: 1em;
}
.copyright{
    padding-bottom: 0.1em;
}
.copyright p{
    margin-bottom: .2em;
}


