#navbar .btn{
    margin-top:1.5vh;
    background: white;
    border-radius: 25px;
    border:solid 3px #9d0315;
    padding:.4vh .8vw;
    color:#9d0315;
    font-weight: bold;
    font-family: 'Source Sans Pro', sans-serif;
    font-size: 1.2em;
}
#navbar .navbar button img{
    width: 17%;
}
@media(min-width:577px) and (max-width:768px){
    #navbar .btn{
        width: 100%;
        padding:0.4vh .4vw .4vh 0.4vw;
        font-size: 1em;
        margin-bottom: 1vh;
    }
}
@media (max-width: 576px) {
    #navbar .btn{
        width: 100%;
        padding:.1em .2em;
        font-size: .8em;
    }
    #navbar .navbar button img {
        width: 20%;
    } 
}
