#navbar .btn, #what-is .btn, #mision .btn{
    margin-top:.5em;
    background: white;
    border-radius: 25px;
    border:solid 3px #9d0315;
    padding:.2em 1.5em;
    color:#9d0315;
    font-weight: bold;
    font-family: 'Source Sans Pro', sans-serif;
    font-size: 1.3em;
}

#navbar .navbar button img, #what-is .btn img,#mision .btn img{
    width: 20%;
}
@media (max-width: 576px) {
    #navbar .btn, #what-is .btn, #mision .btn{
        width: 120%;
        margin-right:1em;
        padding:0 .2em .2em 0.2em;
        font-size: 1.1em;
    }
    
    #navbar .navbar button img {
        width: 20%;
    }
    #what-is button img, #mision .donate img{
        width: 10%;
    }
    #what-is .btn, #mision .btn{
        width: 60%;
        
    }
 }