.donate{
    margin-bottom: 5%;
    margin-top: 5%;
    margin-left:35%;
    width: 30%;
}

.donate:hover{
    background-color:#9d0315;
    color: white; 
    border-color:#9d0315;
}
.donate:hover i{
    color: white;
}
@media (max-width: 576px) {
    .donate{
        font-size: 1.2em;
        margin-left:18%;
        width: 70%;
        padding-bottom: 3%;
    }
}