.card{
    width: 18rem;
}
.card-title{
    color: #9d0315;
}
.card-subtitle{
    color:#039D8B !important;
}
@media (max-width: 576px) {

    .card{
        margin-top: .3rem;
        margin-right:6rem;
    }
}