
#navbar-one{
    background: white;
}
 #navbar .navbar img {
    width: 60%;
}
@media(max-width: 576px) {
    #navbar .navbar img {
        width: 90%;
    }
    #navbar .txt-cura{
        display: none;
    }
 }
 @media(min-width:577px) and (max-width:768px){
    #navbar .navbar img {
        width: 100%;
    }
   
 }
 #navbar .nav-item{
    margin-right: 2em;
}
#navbar .nav-item, #navbar .dropdown-item{
    font-size: 1.3em;
    font-family: 'Source Sans Pro', sans-serif;
}
@media (max-width: 576px) {
    #navbar .nav-item,#navbar .dropdown-item{
        font-size: 1.4em;
    }   
 }


 #navbar .dropdown-menu, #navbar .dropdown-item{
    background: #eaebea;
    color:rgb(97, 131, 127) !important;
}
#navbar .dropdown-item:hover,#navbar .dropdown-item:focus{
    color: #9d0315 !important;
}
#navbar .dropdown-divider{
    background: #039D8B;
    border-color:#039D8B;
}

#navbar-two{
    background: #039D8B;
   
}

#navbar-two ul li a{
    color:#ebeaea;
}


#navbar .hamburger,
#navbar .hamburger::before,
#navbar .hamburger::after{
	content: '';
	display: block;
	background: #eaebea;
	height: 3px;
	width: 1.75em;
	border-radius: 3px;
	transition: all ease-in-out 500ms;

}
#navbar .hamburger::before{
	transform: translateY(-6px);

}
#navbar .hamburger::after{
	transform: translateY(3px);
}
#navbar .navbar-toggler{
    background: #039D8B;
    padding: 10px 0;
}

 .imgHome{
    width: 4%;
    
}
.txt-cura{
    margin-left:2%;
    margin-top:2%;
}
#navbar .dropdown:hover .dropdown-menu {
    display: block;
  }