#navbar .btn{
    margin-top:.5em;
    background: white;
    border-radius: 25px;
    border:solid 3px #9d0315;
    padding:.2em 1.5em;
    color:#9d0315;
    font-weight: bold;
    font-family: 'Source Sans Pro', sans-serif;
    font-size: 1.3em;
}

#navbar .navbar button img{
    width: 20%;
}
@media (max-width: 576px) {
    #navbar .btn{
        width: 120%;
        margin-right:1em;
        padding:0 .2em .2em 0.2em;
        font-size: 1.1em;
    }
    
    #navbar .navbar button img{
        width: 20%;
    }
 }
 #navbar .navbar img {
    width: 60%;
}
@media (max-width: 576px) {
    #navbar .navbar img {
        width: 90%;
    }
 }
 #navbar .nav-item{
    margin-right: 2em;
}
#navbar .nav-item, .dropdown-item{
    font-size: 1.3em;
    font-family: 'Source Sans Pro', sans-serif;
}
@media (max-width: 576px) {
    #navbar .nav-item, .dropdown-item{
        font-size: 1em;
    }   
 }


 #navbar .dropdown-menu,.dropdown-item{
    background: #eaebea;
    color:rgb(97, 131, 127) !important;
}
#navbar .dropdown-item:hover,.dropdown-item:focus{
    color: #9d0315 !important;
}
#navbar .dropdown-divider{
    background: #039D8B;
    border-color:#039D8B;
}

#navbar-two{
    background: #039D8B;
   
}

#navbar-two ul li a{
    color:#ebeaea;
}


#navbar .hamburger,
#navbar .hamburger::before,
#navbar .hamburger::after{
	content: '';
	display: block;
	background: #eaebea;
	height: 3px;
	width: 1.75em;
	border-radius: 3px;
	transition: all ease-in-out 500ms;

}
#navbar .hamburger::before{
	transform: translateY(-6px);

}
#navbar .hamburger::after{
	transform: translateY(3px);
}
#navbar .navbar-toggler{
    background: #039D8B;
    padding: 10px 0;
}
.link:hover{
    text-decoration:none;
    
}
 .imgHome{
    width: 4%;
    
}
.txt-cura{
    margin-left:2%;
    margin-top:2%;
}