#sslider img {
    opacity: .4;
}
#sslider img:hover,#sslider img:focus{
    opacity: 1;
    transition: 400ms;
}
#sslider .center {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 50%;
  }
  #sslider a:hover, #sslider a:focus,#sslider a{
        border-color:transparent;
        color: transparent; 
        text-decoration: none;
  }
  #sslider h4{
      text-align: center;
      margin-top:8vh;
      margin-bottom:5vh;
      color:#039D8B;
  } 