#what-is, #diagnostic, #genetics{
  
    margin-top: 27vh;
    margin-bottom:5vh;
}
@media (max-width: 576px){
    #what-is, #diagnostic, #genetics{
      margin-top: 20vh;
    }
}
#what-is h2, #diagnostic h2, #genetics h2, #genetics h4, #guide h2{
  color: #039D8B;
}
/* #diagnostic h2, #genetics h2, #what-is h2{
  /* text-align: center; */

#what-is .text-span, #diagnostic .text-span,#genetics .text-span{
  color: #039D8B;
  font-weight: bolder;
}

#what-is p, #what-is .lista, #diagnostic p, #diagnostic .lista, #genetics .lista, #genetics p{
 /* color: #7A7C7C; */
 color: #5e5d5d;
 
}
#what-is ul li, #diagnostic ul li, #genetics ul li{
  color: #039D8B;
}
#what-is ul,  #diagnostic ul, #genetics ul{
  list-style-type: circle;
}
#guide .center {
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 15%;
}
@media (max-width: 576px){
  #guide .center{
    width: 30%;
  }
}
#guide .container{
  text-align: center;
}
#guide a{
  color: #5e5d5d;
  text-decoration: none;
}
#guide a:hover{
  color:#9d0315;
}
#guide{
  margin-top:30vh;
  margin-bottom:15vh;
}
@media (max-width: 576px){
  #guide{
   height: 45vh;
  }
}

#situation{
  margin-top:25vh;
  margin-left:10vh;
}

#title-situation, #info{
  color: #039D8B;
}

#situacion .situation-p{
  color: #5e5d5d;

}
