h2, h4{
 color: #039D8B;
 margin-top:1%;
 margin-bottom:2%;
 font-family: 'Source Sans Pro', sans-serif;

}
@media (max-width: 576px){
  h2, h4{
      margin-top:3%;
      margin-bottom:4%;
      font-family: 'Source Sans Pro', sans-serif;

  }
} 
p, ul li{
 color: #7A7C7C;
 font-size: 20px;
 font-family: 'Source Sans Pro', sans-serif;

}

.container-all{
    margin:3%;
}
.container-p{
    text-align: justify;
}

.family-container{
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin-top:3%;
}
.family-img{
  width: 20%;
  padding-top: 3%;
  padding-bottom: 3%;
}

.link-pdf{
  margin-top:-5%;
}