#what-is, #diagnostic,#genetics,#guide{
  margin-top: 25vh;
}

@media (max-width: 576px){
  #what-is, #diagnostic,#genetics,#guide{
    margin-top: 20vh;
  }
}

#what-is h2, #what-is h4{
 color: #039D8B;
 font-family: 'Source Sans Pro', sans-serif;

}
#what-is .text-span{
  color: #039D8B;
  font-weight: bolder;
}
@media (max-width: 576px){
  #what-is h2, #what-is h4{
      
      font-family: 'Source Sans Pro', sans-serif;

  }
} 
#what-is p, #what-is .lista{
 /* color: #7A7C7C; */
 color:#626363;
 font-size: 20px;
 font-family: 'Source Sans Pro', sans-serif;

}
#what-is ul li{
  color: #039D8B;
}
#what-is ul{
  list-style-type: circle;
  
}



.family-container{
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin-top:1%;
}
.family-img{
  width: 15%;
  padding-top: 3%;
  padding-bottom: 3%;
}
