#conector .card-title{
    color: white;
    margin-top:10%;
    text-align: center;
}
.card-body{
    padding-top: 7%;
    padding-bottom:7%;
}
#conector.card{ 
    margin-top: 2em;
    background-color: #5da49a;
}

.link:hover{
    text-decoration:none;
}
@media (max-width: 576px) {
    .card-body{
        padding-top: 3%;
        padding-bottom:3%
    }
    .card.title{
    margin-top:10px; 
    }
}