#conector .card-title{
    color:#039D8B;
    
    text-align: center;
}

#conector.card{ 
    border-radius:20px;
    border:3px solid #039D8B;
    margin-top: 2em;
    background-color: white;
}

#conector .link:hover{
    text-decoration:none;
}
@media (max-width: 576px) {
    #conector .card-body{
        padding-top: 3%;
        padding-bottom:3%
    }
    #conector .card.title{
    margin-top:10px; 
    }
}