@import url('https://fonts.googleapis.com/css?family=Handlee&display=swap');

.carousel{
    margin-top:25vh;
}
@media (max-width: 576px) {
    .carousel{
        margin-top:20vh;
    }
}
.carousel-item{
    width: 100%;
    height: 400px;
}

@media (max-width: 576px) {
    .carousel-item img{
        height: 10em;
    }
}
.carousel-indicators{
    margin-bottom: 5px;
}
.carousel-indicators li {
    background: inherit;
    width: 10px;
    height: 10px;
    border:2px solid #9d0315;
    border-radius: 100%;
  }

#txt-one{
    display: flex;
    flex-direction: column;
    text-align: center;
    justify-content: center;
    width: 900px;
    height: 400px;   
    position: absolute;
}
#txt-two #sabias-que{
    margin-top:0px;
    color: #039D8B;
    font-size: 30px;
}
#txt-two #dato-duro{
    color: #9d0315;
    font-size: 50px;

}

#txt-two{
    display: flex;
    flex-direction: column;
    text-align: center;
    justify-content: center;
    width: 900px;
    height: 400px;   
    position: absolute;

}
#txt-two h5{
    margin: 0px;
}
#txt-three{
    display: flex;
    flex-direction: column;
    text-align: center;
    justify-content: center;
    width: 900px;
    height: 400px;   
    position: absolute;
    margin-top:-5%
}
#world{
    width: 15%;
    margin-top:13%;
    margin-left:80%;
    z-index: 1;
}
#txt-three #duch{
    font-family: 'Handlee', cursive;
    font-size: 180px;
    color: #9d0315;
    margin-top:-15%;
}
#awarness, #day, #date{
    color: #7c7c7c;
    font-family: 'Handlee', cursive;
    font-size: 45px;
}
#txt-three #awarness{
    font-size: 45px;
    text-align: right;
    margin-top: -20%;
}
#txt-three #day{
    text-align: right;
    margin-top:-40%;
    font-size: 45px;
}
#txt-three #date{
    margin-top:-5%;
    margin-left: 65%;
    font-size: 50px;
}

#linea{
    margin-top:-10%;
    margin-left: 6%;
    width: 71%;
    height: 40px;
    transform: rotate(-2deg);
    z-index: -1;
}
#bkg2{
    opacity: 0.5;
}


