.carousel-item img{
    height: 22em;
}
@media (max-width: 576px) {
    .carousel-item img{
        height: 10em;
    }
}
.carousel-indicators{
    margin-bottom: 5px;
}
.carousel-indicators li {
    background: inherit;
    width: 5px;
    height: 5px;
   border:2px solid #9d0315;
    border-radius: 100%;
  }
